[submodule "DelphiZXIngQRCode"]
	path = DelphiZXIngQRCode
	url = https://github.com/MichaelDemidov/DelphiZXingQRCodeEx.git
[submodule "DelphiPluginTemplate"]
	path = Interface
	url = https://github.com/rdipardo/delphiplugintemplate.git
