*~
*.~*
*.bak
*.dcu
*.dci
*.dcp
*.drc
*.dsk
*.dof
*.lps
*.local
*.identcache
*.stat
*.res
*.exe
*.dll
*.rsm
*.todo
*.tvsconfig
*.zip
*/__history/
*/__recovery/
*/backup/
+**[Bb]ackup/
+lib/**
bin/
!NppQrCodeBMP.RES