version: 2.1
#
# SPDX-FileCopyrightText: Copyright (c) 2025 Robert Di Pardo
# SPDX-License-Identifier: GPL-3.0-or-later OR Apache-2.0
#
orbs:
  lazarus: rdipardo/lazarus@4
  win: circleci/windows@5

references:
  executor: &executor
    executor:
      name: win/default
      shell: bash.exe
  development: &development
    filters:
      tags:
        only: /v.*/
  production: &production
    context: gh-release-authoring
    filters:
      branches:
        ignore: /.*/
      tags:
        only: /v.*/

parameters:
  plugin-name:
    type: string
    default: NppQrCode

jobs:
  build:
    <<: *executor
    environment:
      UPX_VER: 5.0.2
      UPX_DIR: "C:\\upx"
    steps:
      - checkout
      - run:
          name: Clone submodules
          command: |
            git submodule sync --recursive
            git submodule update --init --recursive
      - lazarus/install:
          win32: true
      - run:
          name: Install UPX
          command: |
            rm -f lazpath.txt
            mkdir -p "$UPX_DIR"
            curl -sLO "https://github.com/upx/upx/releases/download/v$UPX_VER/upx-$UPX_VER-win64.zip"
            7z e upx-$UPX_VER-win64.zip -o"$UPX_DIR"
            "$UPX_DIR\\upx.exe" --version
      - run:
         name: Make Release Bundles
         command: .\lazarus\make_release.cmd
         shell: cmd.exe
      - unless:
          condition:
            matches:
              pattern: 'v.*'
              value:   << pipeline.git.tag >>
          steps:
            - run:
               name: Pack Release Artifacts
               command: |
                 "$UPX_DIR\\upx.exe" "bin\\i386-win32\\Release\\<< pipeline.parameters.plugin-name >>32.dll"
                 "$UPX_DIR\\upx.exe" "bin\\x86_64-win64\\Release\\<< pipeline.parameters.plugin-name >>64.dll"
                 7z a -tzip << pipeline.parameters.plugin-name >>64.zip ./bin/x86_64-win64/Release/<< pipeline.parameters.plugin-name >>64.dll
                 7z a -tzip << pipeline.parameters.plugin-name >>32.zip ./bin/i386-win32/Release/<< pipeline.parameters.plugin-name >>32.dll
            - store_artifacts:
                name: Upload << pipeline.parameters.plugin-name >>32.zip
                path: << pipeline.parameters.plugin-name >>32.zip
                destination: << pipeline.parameters.plugin-name >>32.zip
            - store_artifacts:
                name: Upload << pipeline.parameters.plugin-name >>64.zip
                path: << pipeline.parameters.plugin-name >>64.zip
                destination: << pipeline.parameters.plugin-name >>64.zip
      - persist_to_workspace:
          root: .
          paths: bin

  push-release:
    <<: *executor
    steps:
      - checkout:
          method: full
      - attach_workspace:
          at: .
      - store_artifacts:
          name: Upload << pipeline.parameters.plugin-name >>-<< pipeline.git.tag >>-win32.zip
          path: bin/<< pipeline.parameters.plugin-name >>-<< pipeline.git.tag >>-win32.zip
          destination: << pipeline.parameters.plugin-name >>-<< pipeline.git.tag >>-win32.zip
      - store_artifacts:
          name: Upload << pipeline.parameters.plugin-name >>-<< pipeline.git.tag >>-x64.zip
          path: bin/<< pipeline.parameters.plugin-name >>-<< pipeline.git.tag >>-x64.zip
          destination: << pipeline.parameters.plugin-name >>-<< pipeline.git.tag >>-x64.zip
      - run:
          name: Create GitHub Release
          command: bash.exe .circleci/scripts/gh_release.sh
          environment:
            SLUGX86: << pipeline.parameters.plugin-name >>-<< pipeline.git.tag >>-win32.zip
            SLUGX64: << pipeline.parameters.plugin-name >>-<< pipeline.git.tag >>-x64.zip
            BIN_DIR: bin

workflows:
  lazarus-build:
    jobs:
      - build:
          <<: *development
      - push-release:
          <<: *production
          requires: [build]
